.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.book-cover img {
    width: 140px;
    height: 190px;
}
.book-details {
    margin-left: 40px;
}
.book-details div {
    margin-bottom: 7px;
}
.book-details button {
    margin-right: 10px;
}
.book-title {
    font-size: 20px;
}
.book-author {
    font-size: 18px;
}